.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 200px;
}

.confirm-btn {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.confirm-btn i {
  margin-left: 5px;
}

.card {
  background-color: #ffffff;
  background-repeat: repeat;
  background-size: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.card-header h2 {
  margin: 0;
}

.card-body p {
  margin: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}